@model Movies

    <link rel="stylesheet" href="~/css/MyStyleSheet.css" />


    @{
        ViewData["Title"] = "MovieAdd";
    }

    <h1>Movie Database</h1>




    @{ var result = ViewBag.NailedIt; }



